.super-mario {
    width: 200px;
    top: 200px;
    position: absolute;
    z-index: 2;
    left: 100px;
}
.goomba {
    width: 150px;
    top: 480px;
    position: absolute;
    z-index: 1;
    left: 130px;
}
.bowser {
    width: 300px;
    margin-left: 600px;
    position: absolute;
    top: 300px;
}
.baloon {
    width: 150px;
    margin-left: 480px;
    position: absolute;
    z-index: 3;
    top: 350px;
}
.word {
    position: absolute;
    left: 497px;
    z-index: 4;
    top: 370px;
    font-size: small;
}
h1 {
    margin-left: 100px;
}